@media screen and (min-width: 600px) {
html,
body {
  padding: 0;
  margin: 0;
  zoom: 120%;
}
}


@media screen and (max-width: 600px) {
  html,
  body {
  
    padding: 0;
    margin: 0;
    zoom: 160%;
    height: 100%;
  }
}



* {
  box-sizing: border-box;
  
}

@media screen and (min-width: 600px) {
p{
  font-family: 'Roboto', sans-serif;
font-style: normal;
}
}

@media screen and (max-width: 600px) {
  p{
    font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  }
  }

a {
  color: #000205;
  text-decoration: none;
}




a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  li{
    font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  }
  }

  @media screen and (min-width: 600px) {
    li{
      font-family: 'Roboto', sans-serif;
    font-style: normal;
    }
    }

img {
  max-width: 100%;
  display: block;
  border-radius: 3px;
  object-fit: cover;
}